@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

/* CSS para añadir la imagen de fondo */
body {
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Cinzel', serif;
}
